.err {
  font-size: 200px;
  font-weight: bolder;
}
.msg {
  font-size: 20px;
}
@media (max-width: 537px) {
  .err {
    font-size: 140px;
    font-weight: bolder;
  }

  .msg {
    font-size: 15px;
  }
}
@media (max-width: 405px) {
  .err {
    font-size: 110px;
    font-weight: bolder;
  }

  .msg {
    font-size: 10px;
  }
}

/* .error404{
    background-image: url(/PHOTOS/error404.png);
} */
